{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Créer un compte</h1>
        <div class=" col-8 m-auto">
            {{ form(form) }}
        </div>
</div>
{% endblock %}



