{# 
on hérite de base.html.twig 
on ne peux pas coder en dehors de nos blocks car on utlise l'héritage
#}
{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="jumbotron text-center my-5 shadow">
    <h1 class="display-4">Bienvenue sur YesCode !</h1>
    <p class="lead">Ici ça parle de code, langages et technos de demain </p>
    <hr class="my-4">
    <p>Retrouvez nos derniers articles sur les technos les plus hype du moment !</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg shadow" href="#" role="button">  &lt;/&gt; Actualités &lt;/&gt; </a>
    </p>
</div>

<h2 class="text-center h1">Les derniers articles</h2>

{%

set articles = {

    symfony : {
        'title' : 'symfony',
        'intro' : 'symfony est un framework PHP complet',
        'author' : 'fabien potencier',
        'image' : 'https://neo7.fr/wp-content/uploads/2018/01/symfony-logo.png'
    },

    angular : {
        'title' : 'angular',
        'intro' : 'angular le framework de Google',
        'author' : 'angus lard',
        'image' : 'https://angular.io/assets/images/logos/angular/angular.svg'
    },

    laravel : {
        'title' : 'laravel',
        'intro' : 'laravel est un framework PHP aussi',
        'author' : 'lara velle',
        'image' : 'https://jf-blog.fr/wp-content/uploads/2018/07/laravel-logo.png'
    }
}
%}

{% set i = false %}

<div class="row flex-lg-row flex-xl-row flex-column">

    {% for article in articles %}
        {% include './partials/card.article.html.twig' %}
    {% endfor %}

</div>

{% endblock %}



