{# 
on hérite de base.html.twig 
on ne peux pas coder en dehors de nos blocks car on utlise l'héritage
#}
{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="jumbotron text-center my-5 shadow">
    <h1 class="display-4">Bienvenue sur YesCode !</h1>
    <p class="lead">Ici ça parle de code, langages et technos de demain </p>
    <hr class="my-4">
    <p>Retrouvez nos derniers articles sur les technos les plus hype du moment !</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg shadow" href="#" role="button">  &lt;/&gt; Actualités &lt;/&gt; </a>
    </p>
</div>

<h2 class="text-center h1">Les derniers articles</h2>

<div class="row">

    {% include './partials/card.article.html.twig' %}

</div>

{% endblock %}



