{% extends 'base.html.twig' %}

{% block title %}Editer un article{% endblock %}

{% block body %}

<h1 class="my-5">Editer un article</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
<div class=" col-8 m-auto">
</div>
{{ form_rest(form)}}
{% endblock %}